<%= simple_form_for @contact, as: :contact, html: { class: 'form-horizontal' }, 
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %>

  <%= f.input :contacter, label: 'user id'%>

  <div class="box-footer">
    <%= f.button :submit, class:"btn btn-info" %>
    <%= link_to '返回', contacts_path, class: "btn btn-default pull-right" %>
  </div>

<% end %>

