<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JuhuiwanAdmin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <%= content_for?(:body) ? yield(:body) : raw('<body class="hold-transition skin-blue sidebar-mini">') %>
    <div class="wrapper">
      <%= yield %>
      <!-- /.content-wrapper -->
      <%# <footer class="devise-footer" style="margin-left:400px; margin-right:400px"> %>
      <%#   <div class="pull-right hidden-xs"> %>
      <%#     <b>Version</b> 1.0.0 %>
      <%#   </div> %>
      <%#   <strong>Copyright &copy; 2014-2016 <a href="http://juhuiwan.cn">聚会玩</a>.</strong> All rights %>
      <%#   reserved. %>
      <%# </footer> %>

    </div>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  </body>
</html>
